body,
html {
	width: 100%;
	background: linear-gradient(15deg, rgba(0,255,250,0.1) 0%, rgba(217,255,142,0.2) 37%, rgba(214,255,154,0.3) 57%, rgba(0,184,63,0.3) 91%);
	font-size: 16px;
}
.person__info {
	display: flex;
	flex-direction: row;
}
.person__details {
	padding-left: 150px;
	padding-right: 150px;
}
.avatar {
	/* размер поля аватара  */
	position: absolute;
	left: 150px;
	top: 32px;
	width: 300px;
}
.front, .back {
	margin-top: -10px;
	width: 20rem;
	height: 20rem;
	border-color: #061d86;
	border-style: double;
	border-width: 5px;
	border-radius: 40px;
	overflow: hidden;
	backface-visibility: hidden;
	position: absolute;
	transition: transform 2s linear;
  }
.front {
	background-image: url(../html-css-homework-4/avatar.jpg);
	background-size: contain;
	background-repeat: round;
	transform: perspective(600px) rotateY(0deg);
}
.back {
	background-image: url(../html-css-homework-4/logosber.png);
	background-size: contain;
	background-repeat: no-repeat;
	transform: perspective(600px) rotateY(180deg);
}
.avatar:hover > .front{transform: perspective(600px) rotateY(-180deg);
}
.avatar:hover > .back{
  transform: perspective(600px) rotateY(0deg);
}
.avatar__picture {
	/* позиция и дизайн картинки  */
	background-image: url(../html-css-homework-4/avatar.jpg);
	transition: transform 2s;
	position: relative;
	border-style: solid;
	border-radius: 100%;
	border-width: 30px;
	border-color: white;
}

.avatar__picture:hover{
	transform: rotateZ(180deg);
	transition: transform 2s ease;
}
.contacts {
	font-size: 18px;
	padding-top: 70px;
	padding-left: 482px;
	padding-bottom: 140px;
}
.contacts__name {
	/* Размер шрифта */
	font-size: 32px;
	font-weight: 600;
}
.contacts__role {
	position: relative;
	font-size: 19.2px;
	font-weight: 600;
}
.contacts__link {
	top: 32px;
}
.contacts__title{
	font-style: italic;
	font-weight: 600;
}
.contacts__item {
	position: relative;
	top: 32px;
}
:root{
	--mainColor: #d9a80a
  }
.contacts__link {
	/* цвет ссылок */
	background: linear-gradient(
    to bottom, var(--mainColor) 0%,
    var(--mainColor) 100%
  );
background-position: 0 100%;
background-repeat: repeat-x;
background-size: 4px 4px;
color: #061d86;
text-decoration: underline;
transition: background-size .2s;
}
.contacts__link:hover {
  background-size: 4px 50px;
 }

.paragraph {
	font-weight: 600; 
	padding-top: 16px;
	text-indent: 20px;
}
.paragraph_last {
	font-weight: 600;
	position:relative;
	text-indent: 20px;
	padding-bottom: 48px;
}
